@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.main-wrapper {
  height: 100vh;
  width: 100vw;
  background:url(./img/main-bg.jpeg)center no-repeat;
  background-size: cover;
}

.header {
  height: 10vh;
  width: 100%;
  padding-top: 25px;
}
.header ul {
  display: flex;
  justify-content: space-around;
}

.header li {
  font-size: 25px;
  color: white;
}

.main-content {
  width: 100%;
  height: 75vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}


.title {
  padding-bottom: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title-cont {
  display: flex;
  flex-direction: column;
}

.title h1 {
  color: white;
  font-weight: bold;
  font-size: 6rem;
}

.title h3 {
  color: white;
  font-size: 3rem;
}

.fa-twitter {
  color: white;
}

.fa-bars {
  color: white;
}

.fa-facebook-official {
  color: white;
}

.fa-chevron-circle-down {
  color: white;
}
.icon-footer {
  display: flex;
  align-content: flex-end;
  justify-content: center;
}

.footer {
  height: 15vh;
  width: 100%;
}

.mobile-tags i{
  display: none;
}
.mobile-tags{
  display: flex;
}
.mobile-holder-left{
  width: 50%;
}
.hamburger-header {
  padding-left: 50px;
}
.mobile-holder-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.mobile-header {
  padding-right: 50px;
}

@media (max-width: 650px){
  .desktop-tags li{
    display: none;
  }
  .mobile-tags i{
    display: block;
  }
}
